extends layout

block content
  h1 Search Results - Cakes

  div.container-fluid
    div.row
      each cake in results
        div.col-sm-2
          h3 #{cake.flavor}
          p Size: #{cake.size}
          p Price: $#{cake.price}

  a(href='/') Click me to go home
