extends layout

block content
  h1= title
  p Below are some cake search results:
  
  .container-fluid
    .row
      each cake in results
        .col-sm-3.border.p-2
          h3 #{cake.name}
          p Flavor: #{cake.flavor} 
          p Price: $#{cake.price}
  
  p
    a(href='/') Back to home
