//- cakes.pug
doctype html
html(lang="en")
  head
    title Search Results for Cakes
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
  body
    block content
      .container-fluid
        .row
          //- Iterate over results to display each cake
          each cake in results
            .col-sm-4  // Adjusted column size for better responsiveness
              .card
                .card-body
                  h5.card-title= cake.name
                  p.card-text Flavors: #{cake.flavors}
                  p.card-text Price: $#{cake.price}
