extends layout

block content
  h1= title
  p Guda’s Assignment 10 Server
  button Sample Button
  button(type="button", class="btn btn-secondary" onclick="faster()") press me

  div#faster Add in extra
  script.
    let value = 1;
    let amt = 2;

    function faster() {
      amt *= 2;
      value += amt;
      document.getElementById("faster").innerText = `Faster ${value} times ${amt}`;
    }
  






  
 


   