extends layout

block content
  h1 Random image display
 

  - var image_names = ['dog1.jpeg', 'dog 2.jpg', 'dog 3.jpg', 'dog 4.jpg', 'dog 5.jpg'];

  .container
    .row
      - for (var i = 0; i < 3; i++)
        - var randomIndex = Math.floor(Math.random() * image_names.length);
        - var imageName = image_names[randomIndex];
        .col-md-4
          img(src=`/images/${image_names[randomIndex]}`, alt=`Image of ${image_names[randomIndex]}`, height="300", width="300", onclick=`buy(${randonIndex})`)
